html {
	height: 100%;
	width: 100%;
}
body {
	margin: 0;
}

/*  styles for nav section */
nav {
	height: 50px;
	background-color: #313035;
	color: white;
	padding-top: 17px;
	padding-bottom: 10px;
}

#nav-items {
	padding-left: 50%;

}
#logo {
	padding-left: 5%;
	font-size: 30px;
}
#nav-items > span {
	padding-left: 40px;
	font-size: 20px;
}



/* styles for landing section */

#landingsection {
	display: flex;
	background-color: #9b4f40;
	height: 500px;
}
#imagesection {
	flex: 50%;
}

#landingtext {
	flex: 50%;
	height: 100px;
	text-align: right;
	padding-right: 10%;
	padding-top: 90px;
	font-size: 30px;
	line-height: 30px;
	color: white;
}

#landingbutton {
	border: none;
	background-color: #313035;
	color: white;
	padding: 10px 30px;
	font-size: 20px;
	border-radius: 30px;
	
}


/* styles for main section */
#main-section {
	background-color: #fcffcc;
	height: 500px;
	padding: 50px;
	

}

h3, p {
	text-align: center;
}

/* styles for footer section */
footer {
	background-color: #9b4f40;
	padding: 20px;
	color: white;
}